npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

android/
ios/

# Metro bundler
.metro-health-check*

# EAS
eas.json.bak

# Expo
node_modules/
.expo/
.expo-shared/
dist/
build/
web-build/
*.orig.*
expo-env.d.ts

# Secrets
.env
.env.local
.env.production
google-services.json
GoogleService-Info.plist
*.keystore
*.jks
*.p8
*.p12

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/